/* // https://piccalil.li/blog/a-modern-css-reset */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* CSS RESET */

:root {
  --Verydarkdesaturatedblue: hsl(212, 27%, 19%);
  --Verydarkgrayishblue: hsl(213, 9%, 39%);
  --Darkgrayishblue: hsl(232, 10%, 55%);
  --Grayishblue: hsl(210, 4%, 67%);
  --White: hsl(0, 0%, 100%);
  --fontfamilyBarlow: "Barlow", sans-serif;
  --fontfamilyFraunces: "Fraunces", serif;
  --fs-p: 1.125rem;
  --Softred: hsl(7, 99%, 70%);
  --Yellow: hsl(51, 100%, 49%);
  --Darkdesaturatedcyan: hsl(167, 40%, 24%);
  --Darkblue: hsl(198, 62%, 26%);
  --Darkmoderatecyan: hsl(168, 34%, 41%);
}
html,
body {
  font-family: var(--fontfamilyBarlow);
}
.header-section {
  background-image: url("/images/mobile/image-header.jpg");
  height: 80vh;
  background-position: bottom center;
  background-size: cover;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  margin-inline: 2.2rem;
  padding-top: 2.5rem;
}

.col-logo {
  width: 160px;
}

.menu {
  width: 30px;
}
.menu:hover {
  cursor: pointer;
}
.menu-mobile:before {
  content: "";
  margin-left: auto;
  position: relative;
  top: -1.5rem;
  border-width: 0 0 1.5rem 1.5rem;
  border-style: solid;
  border-color: white transparent;
  display: block;
  width: 0;
}
.menu-mobile-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-mobile {
  background-color: white;
  position: absolute;
  right: 2;
  top: 7.7rem;
  width: calc(100vw - 3.5rem * 2);
  min-height: 23.1rem;
}

.mobile-menu-items {
  align-self: center;
}
.mobile-menu-items li {
  list-style: none;
  padding: 1rem 0;
  text-align: center;
}
.mobile-menu-items li a {
  text-decoration: none;
  color: var(--Darkgrayishblue);
  font-weight: 600;
  font-size: 1.5rem;
}

.mobile-menu-items li button {
  background-color: #fad711;
  border: none;
  font-size: 1.4rem;
  font-family: var(--fontfamilyFraunces);
  border-radius: 35px;
  padding: 1rem 2.4rem;
}

.menu-mobile {
  transition: ease-in-out 5ms;
  display: none;
}

.nav-links {
  display: none;
}

.header-content {
  display: flex;
  margin-top: 7rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header-title {
  color: white;
  text-align: center;
  font-family: var(--fontfamilyFraunces);
  font-size: 2.2rem;
  line-height: 1.22;
  letter-spacing: 0.445rem;
}

.header-img {
  padding-top: 4rem;
  width: 50px;
}

.intro-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
.intro-img {
  height: 60vh;
  background-size: cover;
  background-position: center;
  background-image: url("/images/mobile/image-transform.jpg");
}

.intro-img-2 {
  height: 60vh;
  background-size: cover;
  background-position: center;
  background-image: url("/images/mobile/image-stand-out.jpg");
}

.intro-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5rem 0rem;
}

.intro-content h1 {
  color: var(--Verydarkdesaturatedblue);
  font-family: var(--fontfamilyFraunces);
  font-size: clamp(3rem, calc(1.8239rem + 0.7512vw), 2.5rem);
  font-weight: 900;
  line-height: 1.21;
  padding-bottom: 2rem;
  margin-inline: 6rem;
  text-align: center;
}

.intro-content p {
  color: var(--Darkgrayishblue);
  font-size: 1.4rem;
  text-align: center;
  line-height: 1.7;
  margin-inline: 3rem;
  padding-bottom: 4rem;
}

.intro-content button {
  line-height: 1;
  font-size: 1.6rem;
  color: var(--Verydarkdesaturatedblue);
  border: none;
  background: none;
  font-weight: 900;
  font-family: var(--fontfamilyFraunces);
  cursor: pointer;
  z-index: 2;
}

.btn-secondary::after {
  content: "";
  z-index: -1;
  display: block;
  bottom: 0.3em;
  margin-left: -6%;
  position: relative;
  width: 112%;
  height: 0.6rem;
  border-radius: 0.3rem;
  background-color: #fef4c0;
}

.btn-secondary-2::after {
  content: "";
  z-index: -1;
  display: block;
  bottom: 0.3em;
  margin-left: -6%;
  position: relative;
  width: 112%;
  height: 0.6rem;
  border-radius: 0.3rem;
  background-color: #ffdfda;
}

.service-content-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.service {
  padding-top: 31.5rem;
  display: flex;
  flex-direction: column;
  background-image: url("images/mobile/image-graphic-design.jpg");
  background-size: cover;
  background-position: top;
}
.service h1 {
  color: var(--Darkdesaturatedcyan);
  font-family: var(--fontfamilyFraunces);
  font-size: clamp(2.5rem, calc(1.8239rem + 0.7512vw), 2.5rem);
  font-weight: 900;
  line-height: 1.21;
  padding-top: 4rem;
  padding-bottom: 2rem;
  margin-inline: 6rem;
  text-align: center;
}

.service p {
  color: var(--Darkdesaturatedcyan);
  font-size: 1.3rem;
  text-align: center;
  line-height: 1.7;
  margin-inline: 3rem;
  padding-bottom: 5rem;
}

.service-2 {
  padding-top: 31.5rem;
  display: flex;
  flex-direction: column;
  background-image: url("images/mobile/image-photography.jpg");
  background-size: cover;
  background-position: top;
}
.service-2 h1 {
  color: var(--Darkdesaturatedcyan);
  font-family: var(--fontfamilyFraunces);
  font-size: clamp(2.5rem, calc(1.8239rem + 0.7512vw), 2.5rem);
  font-weight: 900;
  line-height: 1.21;
  padding-top: 4rem;
  padding-bottom: 2rem;
  margin-inline: 6rem;
  text-align: center;
}

.service-2 p {
  color: var(--Darkdesaturatedcyan);
  font-size: 1.3rem;
  text-align: center;
  line-height: 1.7;
  margin-inline: 3rem;
  padding-bottom: 5rem;
}
.client-testimonials {
  padding-bottom: 9rem;
}

.testimonial-container {
  display: flex;
  flex-direction: column;
}

.client-title {
  text-align: center;
  font-family: var(--fontfamilyFraunces);
  color: var(--Grayishblue);
  padding-top: 4rem;
  letter-spacing: 3.5px;
  padding-bottom: 4rem;
}

.testimonial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 2.3rem 1rem;
}

.testimonial img {
  border-radius: 50%;
  width: 15%;
  height: auto;
  align-self: center;
}

.testimonial p {
  color: var(--Verydarkgrayishblue);
  font-size: 1.5rem;
  text-align: center;
  line-height: 2;
  padding-top: 3rem;
  padding-bottom: 2rem;
}

.testimonial h2 {
  color: var(--Darkdesaturatedcyan);
  font-family: var(--fontfamilyFraunces);
  font-weight: 900;
  line-height: 1.21;
}
.testimonial h3 {
  color: var(--Grayishblue);
  font-size: 1.1rem;
  text-align: center;
  line-height: 1.7;
  margin-inline: 3rem;
  padding-top: 1.2rem;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
footer {
  background-color: #91d4c6;
  padding: 2rem 0;
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
}
.footer-logo {
  padding: 2rem 0rem;
  width: 40%;
  margin-inline: auto;
  max-width: 240px;
}

.footer-container > * {
  align-self: center;
}

.footer-links {
  display: flex;
  list-style: none;
  gap: 4rem;
  padding-bottom: 4rem;
  margin-left: -55px;
}

.footer-links li a {
  text-decoration: none;
  color: var(--Darkmoderatecyan);
  font-size: 1.5rem;
  font-weight: 900;
}

.socials {
  display: flex;
  list-style-type: none;
  gap: 2.7rem;
  margin-right: 20px;
}

.autor {
  text-align: center;
  color: var(--Verydarkdesaturatedblue);
}
.autor span a {
  text-decoration: none;
  font-family: var(--fontfamilyFraunces);
  color: darkcyan;
}

@media (min-width: 950px) {
  .header-section {
    height: 100vh;
  }
  .header-content h1 {
    font-size: 4.5rem;
    padding-bottom: 1.6rem;
  }
  .menu {
    display: none;
  }
  .col-logo {
    width: 240px;
    padding-top: 1rem;
    margin-left: 4rem;
  }
  .nav-links {
    padding-top: 0.1rem;
    display: block;
    display: flex;
    gap: 1.4rem;
    margin-inline-end: 9rem;
    align-items: start;
  }
  .nav-links ul {
    padding-right: 2rem;
  }
  .nav-links ul li {
    list-style: none;
  }
  .nav-links button {
    margin-top: 0.1rem;
  }

  .nav-links ul li a {
    text-decoration: none;
    color: var(--White);
    font-family: var(--fontfamilyBarlow);
    font-size: 1.455rem;
  }
  .nav-button {
    background-color: var(--White);
    border: none;
    font-size: 1.5rem;
    font-family: var(--fontfamilyFraunces);
    border-radius: 35px;
    padding: 1rem 2.4rem;
  }
  .header-section {
    background-image: url("/images/desktop/image-header.jpg");
    background-position: center center;
  }
  .intro-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .intro-img {
    height: 70vh;
    order: 2;
  }
  .transform {
    order: 1;
    align-items: center;
  }
  .intro-img-2 {
    height: 70vh;
    order: 2;
  }
  .stand-out {
    order: 3;
    align-items: center;
  }

  .service-content-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .service {
    background-image: url("/images/desktop/image-graphic-design.jpg");
  }

  .service-2 {
    background-image: url("/images/desktop/image-photography.jpg");
  }
  .gallery{
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1100px) {
  .testimonial-container {
    flex-direction: row;
  }
  .intro-img {
    background-image: url("/images/desktop/image-transform.jpg");
  }
  .intro-img-2 {
    background-image: url("/images/desktop/image-stand-out.jpg");
  }
}

@media (min-width: 1550px) {
  .intro-content {
    margin-inline: 6rem;
  }
}
